{% extends 'AppBundle::layout.html.twig' %}


{% block main %}
    <div class="gla_slider gla_image_bck  gla_wht_txt gla_fixed"  data-image="/bundles/app/images/wedding/lauren_affonso/14400933225_3b844816c3_k.jpg" data-stellar-background-ratio="0.8">

        <!-- Over -->
        <div class="gla_over" data-color="#1e1d2d" data-opacity="0.2"></div>


        <div class="container">


            <!-- Slider Texts -->
            <div class="gla_slide_txt gla_slide_center_middle text-center">
                <div class="gla_flower gla_flower2">
                    <img src="/bundles/app/images/wedding/lauren_affonso/14214412498_73d4296c75_k_sm.jpg" alt="">
                    {#<img src="{{ asset('bundles/app/images/main/742.jpg') }}" alt="">#}
                </div>


            </div>
            <!-- Slider Texts End -->

        </div>

        <a class="gla_scroll_down gla_go" href="#gla_content">
            <b></b>
            Scroll
        </a>


    </div>

    <section id="gla_content" class="gla_content">
        <!-- section -->
        <section class="gla_section gla_image_bck" data-color="#fafafd">
            <div class="container text-center">
                <p><img src="/bundles/app/images/animations/flower5.gif" data-bottom-top="@src:/bundles/app/images/animations/flower5.gif; opacity:1" class="gla_animated_flower" height="150" alt=""></p>
                <h2>{{ about.title }}</h2>
                <p>
                    {{ about.description }}
                </p>
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
    </section>




    <section class="gla_section">


        <div class="container text-center">
            <p><img src="/bundles/app/images/animations/flower6.gif" data-bottom-top="@src:/bundles/app/images/animations/flower6.gif; opacity:1" class="gla_animated_flower" height="110" alt=""></p>

            <div class="row text-center">
                {% for service in services %}
                    <div class="col-md-4 gla_round_block">
                        <div class="gla_round_im gla_image_bck" data-image="{% path service.image,'big' %}"></div>
                        <h3>{{ service.name }}</h3>

                        <a href="{{ path('servicesInner',{'id':service.id}) }}" class="btn">Տեսնել</a>
                    </div>
                {% endfor %}

            </div>


        </div>
        <!-- container end -->

    </section>


    <section class="gla_section gla_image_bck gla_fixed gla_wht_txt" data-stellar-background-ratio="0.2" data-image="/bundles/app/images/wedding/lauren_affonso/14378154996_a9923cfa6f_k.jpg">

        <!-- Over -->
        <div class="gla_over" data-color="#1e1d2d" data-opacity="0.4"></div>

        <div class="container text-center">
            <p><img src="/bundles/app/images/animations/flowers2.gif" data-bottom-top="@src:/bundles/app/images/animations/flowers2.gif" height="200" alt=""></p>

            <div class="row">
                <div class="col-md-8 col-md-push-2">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Անուն*</label>
                                <input type="text" name="name" class="form-control form-opacity" required>
                            </div>
                            <div class="col-md-6">
                                <label>էլ. հասցե*</label>
                                <input type="text" name="email" class="form-control form-opacity" required>
                            </div>


                            <div class="col-md-12">
                                <label>Նշումներ</label>
                                <textarea name="message" class="form-control form-opacity" required></textarea>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn submit" value="Ուղարկել">
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!-- container end -->

    </section>



    <section class="gla_section gla_image_bck">


        <div class="container text-center">
            <p><img src="/bundles/app/images/animations/flower7.gif" data-bottom-top="@src:/bundles/app/images/animations/flower7.gif; opacity:1" class="gla_animated_flower" height="110" alt=""></p>
            {#<h2>The Day They Got Engaged</h2>#}

            <div class="gla_portfolio_no_padding grid">
                {% for item in items %}
                    {% if item.image is not null %}
                    <div class="col-sm-4 gla_anim_box grid-item engagement">
                        <div class="gla_shop_item">
                            <a href="{% path item.image,'reference' %}" class="lightbox">
                                <img src="{% path item.image,'big' %}" alt="">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>

        </div>
        <!-- container end -->

    </section>


    <audio style="display: none" id="player" autoplay controls><source src="/bundles/app/audio/music.mp3" type="audio/mp3" ></audio>


{% endblock %}