{% extends 'AppBundle::layout.html.twig' %}


{% block main %}
    {#{{ dump(services) }}#}
    {#{% for it in services.items %}#}
        {#{{ dump(it) }}#}
    {#{% endfor %}#}

    <div class="gla_page_title gla_image_bck gla_wht_txt" data-color="#282828">



        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">

                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <a href="{{ path('homepage') }}">Գլխավոր</a><span>Ծառայություններ</span>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <section class="gla_section gla_image_bck">


        <div class="container text-center">
            <p><img src="/bundles/app/images/animations/flower7.gif" data-bottom-top="@src:/bundles/app/images/animations/flower7.gif; opacity:1" class="gla_animated_flower" height="110" alt=""></p>
            <h2>{{ services.name }}</h2>
            <p>
                {{ services.description }}
            </p>


            <div class="button-group filter-button-group">
                <a data-filter="*">Բոլորը</a>
                <a data-filter=".image">Նկար</a>
                <a data-filter=".video">Տեսանյութ</a>

            </div>
            <!-- grid -->
            <div class="gla_portfolio_no_padding grid">

                {% for item in services.items %}
                    {% if item.image %}
                        <div class="col-sm-4 gla_anim_box grid-item image">
                            <div class="gla_shop_item">
                                <a href="{% path item.image,'reference' %}" class="lightbox">
                                    <img src="{% path item.image,'big' %}" alt="">
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    {% if item.video %}
                        {#<iframe width="560" height="315" src="https://www.youtube.com/embed/JMoI_MyO9BA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}

                        <div class="col-sm-4 gla_anim_box grid-item video">
                            <div class="gla_shop_item">

                                <iframe width="400" height="250" src="{{ item.video }}" frameborder="0"  allow="encrypted-media" allowfullscreen></iframe>
                                {#<iframe width="400" height="250"   frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen#}
                                        {#src="{{ item.video }}">#}
                                {#</iframe>#}
                            </div>
                        </div>
                    {% endif %}


                {% endfor %}

            </div>
            <!-- grid end -->



        </div>
        <!-- container end -->

    </section>
{% endblock %}